  .container {
    margin-top: 50px;
    max-width: 80%;
    display: flex;
    justify-content: center;
  }
  .card {
    max-width: 90%;
    width: 90rem;
    background-color: #eeeeee;
    opacity: 0.7;
    position: relative;
    left: 50px;
    right: 30px;
  }
  .card-body {
    max-width: 80%;
    width: 35rem;
    display: block;
    margin: 0 auto;
  }
  
  .form-control{
    width: 400px; 
    padding: 8px;
  }
  .btn-secondary {
    opacity: 1.3;
    padding: 5px;
    color:aquamarine; 
  }
  
  h1, h2, h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  h1 {
    padding-top: 20px;
    font-weight: bolder;
    color:rgb(18, 88, 109); 
  }
  
  h2{ 
    color: rgb(6, 99, 105);
    font-weight: bold;
  }
  
  h3{
    color: rgb(53, 51, 51);
    font-weight: lighter; 
  }
  
  .current-weather {
    font-size: 40px;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .current-weather {
    font-size: 40px;
    text-align: right;
    position: relative;
    left: -60px;
    top: -120px;
  }
  .weather-details {
    font-size: 15px;
    text-align: right;
  }

  
  ul {
    list-style: none;
  }

 a{
   color: navy;
 }

 p{
   padding-top: 50px;
   text-align: center;
   margin: auto;
   font-family: "Roboto", sans-serif;
    color: rgb(36, 35, 35);
 }
  
  